@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Public+Sans:wght@500;600;700&family=Work+Sans:wght@400;600&display=swap');

@import url(./css/reset.css);

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :root {
  --dark: #2a3042;
  --white: #ffffff;
} */

html,
body {
  /* font: normal normal normal 100%/1.5 'Poppins', 'Public Sans', 'Work Sans',
    Helvetica Neue, Helvetica, Arial, sans-serif; */
  width: 100%;
  background: #f0f0f0 none;
  overflow-x: hidden;
}

aside {
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
}

nav {
  transition: transform 0.65s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(0);
}

.holder-page {
  /* overflow-x: hidden; */
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(0);
}

.holder.show-sidebar aside {
  transform: translateX(0);
}

.holder.show-sidebar nav,
.holder.show-sidebar .holder-page {
  transform: translateX(17.938rem);
}

.card {
  background: #fff none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.12);
}

/* .spinner-container {
  width: 2;
  text-align: center;
  padding: 3rem;
} */

.spinner-container svg {
  animation: spin 0.75s ease-in-out infinite;
}
